<!DOCTYPE html>
<html class="<%= @bodyclass %>">
<head>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Name">
  <title>Pawsitively Purrfect Pets</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/animals">Animals</a></li>
      <li><a href="/owners">Owners</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
