<!DOCTYPE html>
<html>
<head>
  <title>Pawsitively Purrfect Pets</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href=></a></li>
      <li><a href=</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
