<form action="/animals/new" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="Enter pet name..." required>

  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="Cat">Cat</options>
      <option value="Dog">Dog</options>
      </select>

      <label for="breed">Breed:</label>
      <input type="text" name="breed" id="breed" placeholder="Enter breed...">

      <label for="adoptable">Adoptable:</label>
      <select name="adoptable" id="adoptable">
        <option value="Yes">Yes</options>
          <option value="No Vet Care">No - Vet Care Needed</options>
            <option value="No Training">No - Training Needed</options>
            </select>

            <label for="admission">Admission date:</label>
            <select name="day">
              <option> - Day - </option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>

            <select name="month">
              <option> - Month - </option>
              <option value="January">January</option>
              <option value="Febuary">Febuary</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>

            <select name="year">
              <option> - Year - </option>
              <option value="2018">1993</option>
              <option value="2017">1992</option>
              <option value="2016">1991</option>
              <option value="2015">1990</option>
              <option value="2014">1989</option>
              <option value="2013">1988</option>
              <option value="2012">1987</option>
              <option value="2011">1986</option>
            </select>

            <input type="submit" value="Submit">

          </form>
