<form class="catanddog" action="/animals/new" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="Enter pet name..." required>

  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="Cat">Cat</options>
      <option value="Dog">Dog</options>
      </select>

      <label for="breed">Breed:</label>
      <input type="text" name="breed" id="breed" placeholder="Enter breed...">

      <label for="adoptable">Adoptable:</label>
      <select name="adoptable" id="adoptable">
        <option value="Yes">Yes</options>
          <option value="No - Vet Care Needed">No - Vet Care Needed</options>
            <option value="No - Training Required">No - Training Needed</options>
            </select>

            <label for="admission">Admission date:</label>
            <input type="date" name="admission"/>

            <label for="photo">Photo:</label>
            <input type="text" name="photo" id="photo">

            <input type="submit" value="Submit">

          </form>
